@import "~antd/lib/style/themes/default.less";
@import '~antd/dist/antd.less';

// Custom theme
@primary-color: @purple-6;
@info-color: @purple-6;
@processing-color: @purple-6;

// Layout
@layout-header-background: @purple-10;
@layout-body-background: #fff;
@border-radius-base: 5px;