@import "~antd/lib/style/themes/default.less";
@import '~antd/dist/antd.less';

// Custom theme
@primary-color: @purple-6;
@info-color: @purple-6;
@processing-color: @purple-6;
@text-color-secondary: fade(@purple-10, 60%);
@border-radius-base: 10px;

// Font
@font-family: Inter;
@text-color: @purple-10;
@font-size-base: 16px;

// Card
// @card-shadow: 4px 4px 66px rgb(154 147 196 / 10%);

// Gitploy
@gitploy-prefix: ~'gitploy';

.@{gitploy-prefix} {
  &-yaml {
    &-block {
      border-radius: 10px;
      background-color: #722ed1;
      padding: 15px;
    }

    &-divider {
      border-color: #d3adf7;
      border-right-width: 0.5px;
      border-right-style: solid;
      padding-right: 5px;
    } 

    &-line-number {
      color: #d3adf7;
      margin: 0.3px 0px;
      font-size: 20px;
    }

    &-code {
      padding-left: 20px;
      color: #f9f0ff;
      margin: 0.3px 0px;
      font-size: 20px;
    }

    &-code-key {
      color: #f9f0ff;
    }

    &-code-value {
      color: #ff85c0;
    }
  }

  &-code {
    > code {
      border: 0;
    }
  }

  &-link {
    color: @text-color;
  }

  &-shadow {
    box-shadow: 4px 4px 66px rgba(154, 147, 196, 0.1);
  }
}